* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #bee5bf;
  overflow-y: hidden;
}
#site-template {
  width: 100%;
  height: 96%;
  background-color: #efe2cf;
  overflow-y: hidden;
}
#site-template > object {
  width: 100vw;
  height: 100vh;
}

.site-interaction {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #00bbf9;
  transition: all 0.3s;
  position: absolute;
  overflow: hidden;
}
.site-interaction.active,
.site-interaction.active:hover {
  height: 500px;
  width: 300px;
  border-radius: 7px;
}
.site-interaction:hover {
  box-shadow: 0 0 21px rgba(33, 33, 33, 0.9);
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}
.site-interaction:hover > img {
  margin: 13.5px;
}
.site-interaction > img,
.site-interaction.active > img,
.site-interaction.active:hover > img {
  height: 30px;
  width: 30px;
  margin: 9px;
  transition: all 0.3s;
}
.site-interaction > img.hide {
  display: none;
}
.site-interaction > div {
  padding: 10px;
}
#site-about {
  position: fixed;
  bottom: 50px;
  left: 50px;
}
#change-color {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#change-template {
  position: fixed;
  bottom: 50px;
  right: 150px;
}
