@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
/* ================================================================== */
#tour-box {
  width: 400px;
  height: 250px;
  background-color: #35a1b3;
  padding: 15px;
  position: absolute;
  margin: 0px 15px;
  max-width: 700px;
  max-height: 300px;
  z-index: 200;
  display: none;
  border-radius: 10px;
}
#tour-box.active {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tour-box:after {
  content: " ";
  position: absolute;
  right: 10px;
  bottom: -15px;
  border-top: 15px solid #35a1b3;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
.tour-btn {
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  margin: 10px;
}
#tour-box-btns {
  display: flex;
  justify-content: space-between;
}
#text-description {
  margin: 0px;
  font-size: 16px;
}
#text-description > h3 {
  font-size: 20px;
  margin: 5px 0px;
}
/* ================================================================== */
#site-overlay {
  display: none;
  overflow: hidden;
}
#site-overlay.active {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  background-color: grey;
  z-index: 1000;
  display: block;
}

#site-messages {
  color: #091e05;
  background: #d7f3e3;
  padding: 10px;
  position: absolute;
  top: -10px;
  left: 50%;
  font-size: 20px;
  height: 0px;
  width: 500px;
  text-align: center;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  overflow: hidden;
  border-radius: 10px;
}
#site-messages.active {
  height: auto;
  top: 20%;
  transition: all 0.3s;
}

#site-template {
  width: 100%;
  height: auto;
  overflow-y: hidden;
  padding: 0px;
}

.site-interaction {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  transition: all 0.3s;
  position: absolute;
  overflow: hidden;
  display: inline;
  z-index: 90;
}
.site-interaction.active,
.site-interaction.active:hover {
  border-radius: 7px;
}
.site-interaction:hover {
  box-shadow: 0 0 21px rgba(33, 33, 33, 0.9);
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}
.site-interaction:hover > img {
  margin: 13.5px;
}
.site-interaction > img,
.site-interaction.active > img,
.site-interaction.active:hover > img {
  height: 30px;
  width: 30px;
  margin: 9px;
  transition: all 0.3s;
}
.site-interaction > img.hide {
  display: none;
}
.site-interaction > div {
  padding: 5px 10px;
}
.site-interaction > div > ul {
  margin: 0px;
  padding: 0px 5px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: normal;
}
#site-about {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: #e5e5e5;
}

#site-about.active {
  height: 500px;
  width: 400px;
}
#site-uses-list {
  padding: 0px 20px 20px 10px;
  list-style: none;
}
#site-uses-list a,
#site-uses-list a:active,
#site-uses-list a:visited {
  color: black;
  text-decoration: none;
}
#site-uses-list > li {
  margin: 10px 0px;
}
#random-color-sm {
  position: fixed;
  background-color: rgb(75, 111, 230);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  display: none;
}
#change-color {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #52a7cc;
}
#change-color.active.basic {
  height: 480px;
  width: 380px;
}
#change-color.active.advance {
  height: 300px;
  width: 350px;
}
#basic-change-color {
  display: none;
}
#basic-change-color.basic {
  display: block;
}
#advance-change-color {
  display: none;
}
#advance-change-color.advance {
  display: block;
}
div#advance-color-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div#advance-color-options label {
  font-size: 16px;
}
div#advance-color-options > h4 {
  margin: 0px;
  font-size: 16px;
  font-weight: 100;
}
#change-color-about-hover {
  width: 230px;
  height: auto;
  position: absolute;
  background-color: rgba(255, 166, 0, 0.425);
  z-index: 100;
  display: none;
  border-radius: 7px;
  border: 2px solid rgb(34, 32, 32);
  padding: 5px;
}
#change-color ul,
#change-template ul {
  list-style: none;
  line-height: 2;
  font-size: 20px;
}
#change-color input {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #4d5863;
  margin: 10px 7px;
  padding: 2px 10px;
  font-weight: 600;
  font-size: 16px;
}
#change-color label {
  font-size: 18px;
}
#change-color label span.color-preview {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 2px solid black;
  margin-bottom: -5px;
  border-radius: 5px;
}
#change-color .copy-icon,
.lock-icon {
  margin-bottom: -5px;
}
#checkBox-classHover-div {
  display: flex;
  align-items: center;
}
input#checkBox-classHover {
  width: 30px;
}
#change-template {
  position: fixed;
  bottom: 50px;
  right: 150px;
  background-color: #2a9d8f;
}
#change-template.active {
  height: 430px;
  width: 300px;
  overflow-y: scroll;
}

#saved-colors {
  position: fixed;
  bottom: 50px;
  right: 250px;
  background-color: #ffea00;
}
#saved-colors.active,
#colors-history.active {
  height: 200px;
  width: 300px;
  overflow-y: auto;
}
#saved-color-menu-box,
#colors-history-menu-box {
  height: 0px;
  width: 175px;
  position: absolute;
  background-color: orange;
  z-index: 1000;
  transition: all 0.3s;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#saved-color-menu-box.active {
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  transform: translate(0, -30px);
  transition: all 0.3s;
  -ms-transform: translateX(0px) translateY(-30px);
  -webkit-transform: translate(0, -30px);
}
#saved-colors-list > li,
#colors-history-list > li {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  margin: 10px 0px;
}
.saved-color-item,
.colors-history-item {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

#colors-history {
  position: fixed;
  bottom: 50px;
  right: 350px;
  background-color: rgb(75, 111, 230);
}
#colors-history > div.hide,
#saved-colors > div.hide {
  display: none;
}
#colors-history-menu-box {
  width: 90px;
  justify-content: space-around;
}
#colors-history-menu-box.active {
  height: 40px;
  padding: 5px;
  width: 90px;
  border-radius: 10px;
  transform: translate(0, -30px);
  transition: all 0.3s;
  -ms-transform: translateX(0px) translateY(-30px);
  -webkit-transform: translate(0, -30px);
}
/* ================================ */
/* ICONS */
/* =============================== */
.lock-icon,
.copy-icon,
.close-icon,
.about-icon,
.apply-history-color-icon,
.delete-saved-color-icon,
.apply-saved-color-icon {
  font-size: 24px;
}
.lock-icon.fa-lock {
  color: rgb(75, 111, 230);
  /* animation: LockAnimation 0.3s linear; */
}
.lock-icon.fa-unlock {
  color: green;
  /* animation: LockAnimation 0.3s linear; */
}

@keyframes LockAnimation {
  50%,
  80% {
    transform: translate(0, 5px);
  }
}
.copy-icon {
  stroke: #fbc7c3;
  margin: 0px 5px;
}
.random-icon-btn,
.save-icon-btn {
  padding: 0px 5px;
  font-size: 14px;
}
.random-icon-btn.rotate {
  animation: RRotate 0.4s linear 0s infinite;
}
.lock-icon,
.copy-icon,
.about-icon,
.close-icon,
.apply-history-color-icon,
.delete-saved-color-icon,
.apply-saved-color-icon {
  cursor: pointer;
}
/* ======================================= */
/* BUTTONS */
/* ======================================= */
.btn {
  padding: 5px 20px;
  width: auto;
}
.site-interaction-button {
  padding: 5px 15px;
  margin: 10px 5px;
  width: auto;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(136, 136, 136, 0.377);
  font-size: 14px;
  font-weight: 600;
  /* border-radius: 5px; */
  /* border: 2px solid rgb(5, 1, 20); */
}
.site-interaction-button:hover {
  cursor: pointer;
  box-shadow: 4px 3px rgba(136, 136, 136, 0.377);
  transform: translateY(2px);
}
.site-interaction-button:active {
  box-shadow: 0px 0px rgba(136, 136, 136, 0.377);
  transform: translateY(5px);
}

@keyframes RRotate {
  25% {
    color: rgba(255, 166, 0, 0.425);
  }
  50% {
    transform: rotateX(180deg);
    color: rgb(75, 111, 230);
  }
  75% {
    color: pink;
  }
  100% {
    transform: rotateX(360deg);
    color: red;
  }
}

@media (max-width: 656px), (max-height: 556px) {
  .close-icon {
    font-size: 30px;
  }

  #change-color.active.basic,
  #change-color.active.advance,
  #saved-colors.active,
  #colors-history.active,
  #change-template.active {
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
  }
  #site-about.active {
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }
  #random-color-sm {
    left: 50px;
    bottom: 125px;
    display: block;
  }
}
@media (max-width: 546px) {
  #colors-history {
    bottom: 125px;
    right: 50px;
  }
  #checkBox-classHover-div,
  .about-icon {
    display: none;
  }
}
@media (max-width: 448px) {
  #colors-history {
    bottom: 275px;
    right: 50px;
  }
  #saved-colors {
    bottom: 200px;
    right: 50px;
  }
  #change-template {
    right: 50px;
    bottom: 125px;
  }
}
