@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #bee5bf;
  overflow-y: hidden;
  font-family: "Yusei Magic", sans-serif;
}
#site-overlay.active {
  height: 100vw;
  width: 100vh;
  background-color: grey;
}
#site-template {
  width: 100%;
  height: 96%;
  background-color: #efe2cf;
  overflow-y: hidden;
}
#site-template > object {
  width: 100vw;
  height: 100vh;
}

.site-interaction {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #00bbf9;
  transition: all 0.3s;
  position: absolute;
  overflow: hidden;
}
.site-interaction.active,
.site-interaction.active:hover {
  border-radius: 7px;
}
.site-interaction:hover {
  box-shadow: 0 0 21px rgba(33, 33, 33, 0.9);
  transition: all 0.3s;
  height: 60px;
  width: 60px;
}
.site-interaction:hover > img {
  margin: 13.5px;
}
.site-interaction > img,
.site-interaction.active > img,
.site-interaction.active:hover > img {
  height: 30px;
  width: 30px;
  margin: 9px;
  transition: all 0.3s;
}
.site-interaction > img.hide {
  display: none;
}
.site-interaction > div {
  padding: 10px;
}
#site-about {
  position: fixed;
  bottom: 50px;
  left: 50px;
}
#site-about.active {
  height: 500px;
  width: 400px;
}
#change-color {
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#change-color.active {
  height: 350px;
  width: 300px;
}
#change-color ul,
#change-template ul {
  list-style: none;
  line-height: 2;
  font-size: 20px;
}
#change-color input {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid #4d5863;
  margin: 10px 10px;
  padding: 5px 10px;
  font-weight: 600;
}
#change-color label {
  font-size: 20px;
}
#change-color label span.color-preview {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: 2px solid black;
  margin-bottom: -5px;
  border-radius: 5px;
}
#change-color .copy-icon {
  margin-bottom: -5px;
}
#change-template {
  position: fixed;
  bottom: 50px;
  right: 150px;
}
#change-template.active {
  height: 200px;
  width: 300px;
}
