<div class="sc-body">
  <div id="header" class="sc-navbar">
    <div id="header-links">
      <h1 class="sc-h1 site-name">Blog Page</h1>
      <ul class="links-ul">
        <li class="sc-text">Option1</li>
        <li class="sc-text">Option2</li>
        <li class="sc-text">Option3</li>
        <li class="sc-text">Option4</li>
        <li class="sc-text">Option5</li>
      </ul>
    </div>
    <ul>
      <li>
        <i class="fas fa-search sc-icon"></i>
      </li>
      <li><i class="fas fa-bars sc-icon"></i></li>
    </ul>
  </div>
  <div id="body" class="sc-card">
    <article class="post">
      <div id="post-header">
        <div class="title">
          <h2 class="sc-h2">A Long Long Heading 2</h2>
          <p class="sc-p">Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
        </div>
        <div class="details">
          <time datetime="2021-01-27" class="sc-text">January 27, 2021</time>
          <span><span class="name sc-text">TusharYaar</span><img src="https://picsum.photos/36" alt="A" title="profile Image" /></span>
        </div>
      </div>
      <div id="post-body">
        <span class="image featured"><img src="https://picsum.photos/840/340" alt="" /></span>
        <p class="sc-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laboriosam nobis adipisci corrupti pariatur quia omnis itaque ducimus doloremque excepturi? Consectetur in fuga ipsum perspiciatis sit veniam repellat accusamus, blanditiis quae laudantium, obcaecati, harum consequatur optio reprehenderit. Mollitia optio saepe ipsam, cupiditate eaque iusto a ullam nam debitis, rerum inventore.</p>
        <p class="sc-p">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda enim eos eligendi nulla quis quam, odit rerum obcaecati ducimus optio molestias illo hic voluptates accusantium voluptate. Ipsam consectetur consequuntur, dolorem officiis sequi est ea illum. Debitis quod modi provident voluptatem itaque non laborum unde deleniti ullam necessitatibus animi distinctio, accusamus, expedita, eum perferendis quibusdam? Ratione, suscipit sapiente similique consequuntur nihil deserunt
          temporibus numquam ducimus. Itaque ullam reiciendis natus vero impedit nemo tempore, repellendus numquam! Nulla quasi, quam molestiae amet quidem aliquam quas officia id, ad laborum suscipit sit assumenda omnis eaque beatae at doloribus, quo aut quos ullam aliquid culpa.
        </p>
        <footer>
          <ul class="stats">
            <li>General</li>
            <li><i class="fas fa-heart sc-icon"></i> 28</li>
            <li><i class="fas fa-comment sc-icon"></i> 128</li>
          </ul>
        </footer>
      </div>
    </article>
  </div>
  <section id="footer">
    <ul class="icons">
      <li><i class="icon fab fa-twitter sc-icon"></i></li>
      <li>
        <i class="icon fab fa-facebook-square sc-icon"></i>
      </li>
      <li>
        <i class="icon fab fa-instagram sc-icon"></i>
      </li>
      <li>
        <i class="icon fas fa-envelope sc-icon"></i>
      </li>
    </ul>
  </section>
</div>
