<div class="container">
  <div class="side-column sc-body2">
    <input type="text" placeholder="Search" />
    <div class="menu">
      <h3>Menu</h3>
      <ul class="sc-text">
        <li>HomePage</li>
        <li>HomePage</li>
        <li>HomePage</li>
        <li>HomePage</li>
        <li>HomePage</li>
        <li>HomePage</li>
        <li>HomePage</li>
        <li>HomePage</li>
      </ul>
    </div>
  </div>
  <div class="main-body">
    <header>
      <div class="menu"><i class="fas fa-bars sc-icon-special"></i></div>
      <div class="social-icons">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-snapchat-ghost"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-medium-m"></i>
      </div>
    </header>
    <hr class="hr" />
    <section class="main-edit">
      <div>
        <h2>An Editorial Post By TUSHAR</h2>
        <h6>A Free editorial templates</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          minima provident fugit quis quos atque culpa optio vitae incidunt at
          itaque corrupti veritatis hic, excepturi aliquid obcaecati voluptate
          necessitatibus doloribus in natus. Tenetur qui quasi dolore nulla
          commodi quo dolores. Sunt unde modi dolores totam nihil sint
          assumenda, error numquam.
        </p>
        <button class="readmore-btn sc-button1">Read More</button>
      </div>
      <img src="https://picsum.photos/500 " />
    </section>
    <hr class="hr" />
    <section class="other-posts">
      <h3>Other Posts You May Like</h3>
      <div class="posts-collection">
        <div class="post">
          <div class="post-img-div">
            <img src="https://picsum.photos/200" class="post-img" alt="" />
          </div>
          <div class="post-text">
            <h5>Heelo</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur aliquid dicta consequuntur? Et nemo aliquid
              voluptatum! Officiis a obcaecati eum.
            </p>
          </div>
        </div>
        <div class="post">
          <div class="post-img-div">
            <img src="https://picsum.photos/200" class="post-img" alt="" />
          </div>
          <div class="post-text">
            <h5>Heelo</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur aliquid dicta consequuntur? Et nemo aliquid
              voluptatum! Officiis a obcaecati eum.
            </p>
          </div>
        </div>
        <div class="post">
          <div class="post-img-div">
            <img src="https://picsum.photos/200" class="post-img" alt="" />
          </div>
          <div class="post-text">
            <h5>Heelo</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur aliquid dicta consequuntur? Et nemo aliquid
              voluptatum! Officiis a obcaecati eum.
            </p>
          </div>
        </div>
        <div class="post">
          <div class="post-img-div">
            <img src="https://picsum.photos/200" class="post-img" alt="" />
          </div>
          <div class="post-text">
            <h5>Heelo</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur aliquid dicta consequuntur? Et nemo aliquid
              voluptatum! Officiis a obcaecati eum.
            </p>
          </div>
        </div>
      </div>
    </section>
    <hr />
  </div>
</div>
