<nav class="navbar navbar-fixed sc-navbar">
  <div id="brand-name">
    <img src="https://img.icons8.com/cute-clipart/48/000000/facebook-new.png" />
    <input type="text" />
  </div>
  <div>
    <ul id="navbar-icons">
      <li><i class="fas fa-home sc-icon"></i></li>
      <li><i class="fas fa-tv sc-icon"></i></li>
      <li><i class="fas fa-store sc-icon"></i></li>
      <li><i class="fas fa-users sc-icon"></i></li>
      <li><i class="fas fa-headset sc-icon"></i></li>
    </ul>
  </div>
  <div>
    <ul id="navbar-profile-icons">
      <li id="profile-pic-icon"><img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v1.png" /></li>
      <li class="sc-card2"><i class="sc-icon fas fa-plus"></i></li>
      <li class="sc-card2"><i class="sc-icon fab fa-facebook-messenger"></i></li>
      <li class="sc-card2"><i class="sc-icon fas fa-bell"></i></li>
      <li class="sc-card2"><i class="sc-icon fas fa-sort-down"></i></li>
    </ul>
  </div>
</nav>
<div class="sc-body" id="body">
  <div id="options-section" class="site-section">
    <ul id="options-ul">
      <li><img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v1.png" />Tushar Yaaaar</li>
      <li><img src="https://img.icons8.com/color/48/000000/protection-mask.png" />COVID-19 Imformation Section</li>
      <li><img src="https://img.icons8.com/color/48/000000/friends--v1.png" />Friends</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-group-skin-type-7.png" /> Groups</li>
      <li><img src="https://img.icons8.com/color/48/000000/small-business.png" />Marketplace</li>
      <li><img src="https://img.icons8.com/color/48/000000/watch--v1.png" />Watch</li>
      <li><img src="https://img.icons8.com/color/48/000000/tear-off-calendar--v1.png" />Events</li>
      <li><img src="https://img.icons8.com/color/48/000000/time-machine--v1.png" />Memories</li>
      <li><img src="https://img.icons8.com/color/48/000000/save--v1.png" />Saveds</li>
      <li><img src="https://img.icons8.com/color/48/000000/commercial.png" />Advertisements Section</li>
      <li><img src="https://img.icons8.com/color/48/000000/bar-chart.png" />Advertisements Manager</li>
    </ul>
  </div>
  <div id="feed-section" class="site-section">
    <div id="stories">
      <div class="stories-element"></div>
      <div class="stories-element"></div>
      <div class="stories-element"></div>
      <div class="stories-element"></div>
      <div class="stories-element"></div>
    </div>
    <div id="your-update" class="sc-card">
      <div id="on-your-mind">
        <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v1.png" />
        <input type="text" name="" />
      </div>
      <div id="reactions">
        <ul>
          <li><img src="https://img.icons8.com/color/48/000000/youtube-live.png" />Live Video</li>
          <li><img src="https://img.icons8.com/color/48/000000/stack-of-photos--v1.png" />Photos/Videos</li>
          <li><img src="https://img.icons8.com/color/48/000000/crazy--v1.png" />Feelings/Activity</li>
        </ul>
      </div>
    </div>
    <div id="create-room" class="sc-card">
      <button class="sc-button1"><img src="https://img.icons8.com/color/48/000000/youtube-live.png" /> Create Room</button>
      <ul>
        <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" /></li>
        <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" /></li>
        <li><img src="https://img.icons8.com/color/48/000000/user-male-skin-type-5.png" /></li>
        <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-1-2.png" /></li>
        <li><img src="https://img.icons8.com/color/48/000000/avatar.png" /></li>
      </ul>
    </div>
    <div id="posts">
      <div class="post sc-card">
        <div class="details">
          <div>
            <img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />
            <span>Someone Posted a foto<span class="insmall">28 January at 23:44</span></span>
          </div>
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <img src="https://picsum.photos/300" alt="" />
        <div class="likes"><img src="https://img.icons8.com/color/50/000000/novel.png" /> Some People Liked your photo</div>
        <div class="icons">
          <ul>
            <li><i class="fas fa-heart"></i> Like</li>
            <li><i class="far fa-comment"></i> Comment</li>
            <li><i class="far fa-share-square"></i> Share</li>
          </ul>
        </div>
        <div class="your-comment">
          <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v1.png" />
          <input type="text" name="" />
        </div>
      </div>
      <div class="post sc-card">
        <div class="details">
          <div>
            <img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />
            <span>Someone Posted a foto<span class="insmall">28 January at 23:44</span></span>
          </div>
          <i class="fas fa-ellipsis-h" class="sc-icon"></i>
        </div>
        <img src="https://picsum.photos/300" alt="" />
        <div class="likes"><img src="https://img.icons8.com/color/50/000000/novel.png" /> Some People Liked your photo</div>
        <div class="icons">
          <ul>
            <li><i class="sc-icon fas fa-heart"></i> Like</li>
            <li><i class="sc-icon far fa-comment"></i> Comment</li>
            <li><i class="sc-icon far fa-share-square"></i> Share</li>
          </ul>
        </div>
        <div class="your-comment">
          <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-4--v1.png" />
          <input type="text" name="" />
        </div>
      </div>
    </div>
  </div>
  <div id="friends-section" class="site-section">
    <ul>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-1-2.png" />Bablu Bro</li>
      <li><img src="https://img.icons8.com/color/48/000000/avatar.png" />Kaleen Bhaiya Ji</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />Mr Witt</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />Friend 1</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-male-skin-type-5.png" />Friend 2</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-1-2.png" />Bablu Bro</li>
      <li><img src="https://img.icons8.com/color/48/000000/avatar.png" />Kaleen Bhaiya Ji</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />Mr Witt</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />Friend 1</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-male-skin-type-5.png" />Friend 2</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-1-2.png" />Bablu Bro</li>
      <li><img src="https://img.icons8.com/color/48/000000/avatar.png" />Kaleen Bhaiya Ji</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />Mr Witt</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-female-skin-type-4.png" />Friend 1</li>
      <li><img src="https://img.icons8.com/color/48/000000/user-male-skin-type-5.png" />Friend 2</li>
    </ul>
  </div>
</div>
