<div class="sc-body">
  <div class="navbar sc-navbar"></div>
  <div class="container">
    <section class="child">
      <div class="inner-section">
        <div>
          <h4>Get A color For Your Site</h4>
          <p>
            Quickly test a colour palette on the site, without the hassle of
            editing your CSS file
          </p>
        </div>
        <img
          class="svg"
          src="./assests/templates/images/undraw_creativity_wqmm.svg"
          alt=""
        />
      </div>
      <div id="scroll-for-more">
        Didn't Get it, Scroll for more<br />
        <div id="scroll-for-more-icon"><i class="fas fa-arrow-down"></i></div>
      </div>
    </section>

    <section class="child"><div class="inner-section"><img src="./assests/templates/images/undraw_static_website_0107.svg" alt=""><div><h4>Load Template</h4>
      <p>Load from a bunch of templates and apply colors on them to get a sick color palette. You can load a template form here. Not needed not, this homepage is itself a template</p></div></div></section>
    <section class="child">Cause I am making this alone, it takes time</section>
  </div>
</div>
