<h1>This Page is in devlopement</h1>
<div class="body sc-body">
  <div class="header sc-navbar">
    <div><h2>Tushar's Portfolio</h2></div>
    <div>
      <a href="#about"><h4>About</h4></a>
      <a><h4>Projects</h4></a>
      <a><h4>Tech Stack</h4></a>
      <a><h4>Contact</h4></a>
    </div>
  </div>
  <div class="jumbotron">
    <div class="hello sc-card2">
      Hello My name is Tushar
      <p>A web developer</p>
    </div>
  </div>
  <div class="about" id="about">
    <img
      src="./assests/templates/images/profilepic.jpg"
      alt="Profile Picture"
    />
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non veritatis
      iusto obcaecati quibusdam nobis? Minima necessitatibus sapiente animi
      recusandae voluptatem neque eligendi praesentium fugit magnam hic
      laudantium enim obcaecati, ducimus atque, optio, nulla repellendus vero
      delectus. Sint fugiat dolorem quas iusto animi facilis, quidem velit.
      Soluta laboriosam dolore nesciunt? Sequi?
    </div>
  </div>
</div>
