<div>
  <div class="sc-body container">
    <h1>This is sc-body</h1>
    <h1 class="sc-h1">Heading 1 with class sc-h1</h1>
    <h2 class="sc-h2">Heading 2 with class sc-h2</h2>
    <h3 class="sc-h3">Heading 3 with class sc-h3</h3>
    <h4 class="sc-h4">Heading 4 with class sc-h4</h4>
    <h5 class="sc-h5">Heading 5 with class sc-h5</h5>
    <h6 class="sc-h6">Heading 6 with class sc-h6</h6>
    <p class="sc-p">
      paragraph with class sc-p/sc-text2<br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis
      delectus, ipsam distinctio numquam perspiciatis sunt esse quaerat
      repellendus saepe molestias autem qui velit explicabo. Magnam iure
      quibusdam, ducimus commodi aperiam consequuntur et, blanditiis atque hic
      dolore culpa sit, inventore earum molestias nulla consequatur eius soluta
      sapiente pariatur cumque
    </p>
    <p class="sc-text">
      paragraph with class sc-text<br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis
      delectus, ipsam distinctio numquam perspiciatis sunt esse quaerat
      repellendus saepe molestias autem qui velit explicabo. Magnam iure
      quibusdam, ducimus commodi aperiam consequuntur et, blanditiis atque hic
      dolore culpa sit, inventore earum molestias nulla consequatur eius soluta
      sapiente pariatur cumque
    </p>

    <div class="card-holder">
      <button class="sc-button1">sc-button1</button>
      <button class="sc-button2">sc-button2</button>
      <button class="sc-button3">sc-button3</button>
    </div>
    <div class="card-holder">
      <div class="card sc-card">
        <img src="https://picsum.photos/280/200" />
        <h3>Card Heading</h3>
        <p>
          Card Paragraph. now adding random words which do not make any sense.
        </p>
        <p class="sc-p">
          Card Paragraph with class <strong>sc-p</strong>. now adding random
          words which do not make any sense just to make it look like it has
          some content.
        </p>
        <button class="sc-button1">sc-button1</button>
        <button class="sc-button2">sc-button2</button>
        <button class="sc-button3">sc-button3</button>
      </div>
      <div class="card sc-card2">
        <img src="https://picsum.photos/280/199" />
        <h3>Card Heading</h3>
        <p>
          Card Paragraph. now adding random words which do not make any sense.
        </p>
        <p class="sc-p">
          Card Paragraph with class <strong>sc-p</strong>. now adding random
          words which do not make any sense just to make it look like it has
          some content.
        </p>
        <button class="sc-button1">sc-button1</button>
        <button class="sc-button2">sc-button2</button>
        <button class="sc-button3">sc-button3</button>
      </div>
    </div>
  </div>
  <div class="sc-body2 container">
    <h1>This is sc-body2</h1>
    <h1 class="sc-h1">Heading 1 with class sc-h1</h1>
    <h2 class="sc-h2">Heading 2 with class sc-h2</h2>
    <h3 class="sc-h3">Heading 3 with class sc-h3</h3>
    <h4 class="sc-h4">Heading 4 with class sc-h4</h4>
    <h5 class="sc-h5">Heading 5 with class sc-h5</h5>
    <h6 class="sc-h6">Heading 6 with class sc-h6</h6>
    <p class="sc-text">
      paragraph with class sc-text<br />
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis
      delectus, ipsam distinctio numquam perspiciatis sunt esse quaerat
      repellendus saepe molestias autem qui velit explicabo. Magnam iure
      quibusdam, ducimus commodi aperiam consequuntur et, blanditiis atque hic
      dolore culpa sit, inventore earum molestias nulla consequatur eius soluta
      sapiente pariatur cumque
    </p>

    <div class="card-holder">
      <button class="sc-button1">sc-button1</button>
      <button class="sc-button2">sc-button2</button>
      <button class="sc-button3">sc-button3</button>
    </div>
    <div class="card-holder">
      <div class="card sc-card">
        <img src="https://picsum.photos/280/200" />
        <h3>Card Heading</h3>
        <p>
          Card Paragraph. now adding random words which do not make any sense.
        </p>
        <p class="sc-p">
          Card Paragraph with class <strong>sc-p</strong>. now adding random
          words which do not make any sense just to make it look like it has
          some content.
        </p>
        <button class="sc-button1">sc-button1</button>
        <button class="sc-button2">sc-button2</button>
        <button class="sc-button3">sc-button3</button>
      </div>
      <div class="card sc-card2">
        <img src="https://picsum.photos/280/199" />
        <h3>Card Heading</h3>
        <p>
          Card Paragraph. now adding random words which do not make any sense.
        </p>
        <p class="sc-p">
          Card Paragraph with class <strong>sc-p</strong>. now adding random
          words which do not make any sense just to make it look like it has
          some content.
        </p>
        <button class="sc-button1">sc-button1</button>
        <button class="sc-button2">sc-button2</button>
        <button class="sc-button3">sc-button3</button>
      </div>
    </div>
  </div>
</div>
