<div class="sc-body">
  <h1 class="sc-h1">Heading 1</h1>
  <h2 class="sc-h2">Heading 2</h2>
  <h3 class="sc-h3">Heading 3</h3>
  <h4 class="sc-h4">Heading 4</h4>
  <h5 class="sc-h5">Heading 5</h5>
  <h6 class="sc-h6">Heading 6</h6>
  <p class="sc-p">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut quis delectus, ipsam distinctio numquam perspiciatis sunt esse quaerat repellendus saepe molestias autem qui velit explicabo. Magnam iure quibusdam, ducimus commodi aperiam consequuntur et, blanditiis atque hic dolore culpa sit, inventore earum molestias nulla consequatur eius soluta sapiente pariatur cumque cupiditate quisquam animi? Architecto, repudiandae officiis minus quos delectus beatae. Quis sequi, quam excepturi
    voluptatibus recusandae obcaecati fugiat ut corporis soluta totam unde porro fugit. Vel totam beatae, quaerat recusandae sed minus maiores tenetur fugiat, dicta ipsam quod natus labore, at consequatur eveniet sapiente iure saepe dignissimos fuga nam harum neque!
  </p>
  <div class="card sc-card"></div>
  <button class="sc-button1 btn">Button 1</button>
</div>
