<div class="container">
  <h2>Plans And Pricing</h2>
  <div class="row">
    <div class="sc-card2 pricing-card">
      <h3>Lumbar</h3>
      <ul>
        <li><strong>High converting Website and Domains</strong></li>
        <li>
          Social Setup<i class="fab fa-twitter-square"></i
          ><i class="fab fa-facebook-square"></i
          ><i class="fab fa-google-plus"></i><i class="fas fa-star"></i>
        </li>
        <li><strong>3</strong> Citations</li>
        <li><strong>5</strong> Backlinks</li>
        <li><strong>1</strong> Channel Social Monitoring</li>
      </ul>
      <hr />
      <h4>&#8377;200/mo</h4>
      <button>Choose Plan</button>
    </div>
    <div class="sc-card2 pricing-card">
      <h3>Atlas</h3>
      <ul>
        <li><strong>High converting Website and Domains</strong></li>
        <li>
          Social Setup<i class="fab fa-twitter-square"></i
          ><i class="fab fa-facebook-square"></i
          ><i class="fab fa-google-plus"></i><i class="fas fa-star"></i>
        </li>
        <li><strong>6</strong> Citations</li>
        <li><strong>10</strong> Backlinks</li>
        <li><strong>2</strong> Channel Social Monitoring</li>
      </ul>
      <hr />
      <h4>&#8377;550/mo</h4>
      <button>Choose Plan</button>
    </div>
    <div class="sc-card2 pricing-card">
      <h3>Thoracic</h3>
      <ul>
        <li><strong>High converting Website and Domains</strong></li>
        <li>
          Social Setup<i class="fab fa-twitter-square"></i
          ><i class="fab fa-facebook-square"></i
          ><i class="fab fa-google-plus"></i><i class="fas fa-star"></i>
        </li>
        <li><strong>9</strong> Citations</li>
        <li><strong>15</strong> Backlinks</li>
        <li><strong>3</strong> Channel Social Monitoring</li>
      </ul>
      <hr />
      <h4>&#8377;890/mo</h4>
      <button>Choose Plan</button>
    </div>
  </div>
</div>
