<nav class="navbar navbar-fixed sc-navbar">
  <div class="nav-item">
    <img src="./assests/SitePaletteIcon.png" id="site-logo" />
  </div>
  <div class="nav-item nav-text">
    <h6>Deliver to tushar</h6>
    <h4><i class="fas fa-map-marker-alt"></i>India</h4>
  </div>
  <input type="text" placeholder="Search for a product" id="search-input" />
  <div class="nav-item nav-text">
    <h6>Hello, Tushar</h6>
    <h4>Account & Lists</h4>
  </div>
  <div class="nav-item nav-text">
    <h6>Returns</h6>
    <h4>& Orders</h4>
  </div>
  <div class="nav-item nav-text">
    <h4><i class="fas fa-shopping-cart"></i> Cart</h4>
  </div>
</nav>

<h1>This Page is in devlopement</h1>
