<nav class="navbar navbar-fixed sc-navbar">
  <div class="nav-item">
    <img src="./assests/SitePaletteIcon.png" id="site-logo" />
  </div>
  <div class="nav-item nav-text">
    <h6>Deliver to tushar</h6>
    <h4><i class="fas fa-map-marker-alt"></i>India</h4>
  </div>
  <div class="nav-item nav-search">
    <select name="select" id="select">
      <option value="val1">All categories</option>
      <option value="val2">Electronics</option>
      <option value="val3">Deals</option>
      <option value="val4">Baby Products</option>
      <option value="val5">Computer and Accessories</option>
      <option value="val6">Home and Kitchen</option>
      <option value="val7">Grocery and Gourment Foods</option>
      <option value="val8">Toys and Games</option>
      <option value="val9">Sports, Fitness and Outdoors</option>
    </select>
    <input type="text" placeholder="Search for a product" id="search-input" />
    <div class="nav-text sc-card2" id="search-btn">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <div class="nav-item nav-text">
    <h6>Hello, Tushar</h6>
    <h4>Account & Lists</h4>
  </div>
  <div class="nav-item nav-text">
    <h6>Returns</h6>
    <h4>& Orders</h4>
  </div>
  <div class="nav-item nav-text">
    <h4><i class="fas fa-shopping-cart"></i> Cart</h4>
  </div>
</nav>

<div class="sc-body">
  <div class="carousol">
    <div id="carousol-left"><i class="fas fa-chevron-left"></i></div>
    <div id="carousol-right"><i class="fas fa-chevron-right"></i></div>
  </div>
  <div class="row">
    <div class="card sc-card">
      <p>Hi! Tushar</p>
      <div class="products-view">
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
      </div>
    </div>

    <div class="card sc-card">
      <p>Some Category 2</p>
      <div class="products-view">
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
      </div>
      <a href="#">See more</a>
    </div>

    <div class="card sc-card">
      <p>Some Category 3</p>
      <div class="products-view">
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
      </div>
      <a href="#">See more</a>
    </div>
    <div class="card sc-card">
      <p>Some Product info I dont know <a href="#">Find Out</a></p>
    </div>
  </div>
</div>
<h1>This Page is in devlopement</h1>
