<nav class="navbar navbar-fixed sc-navbar">
  <div id="menu" class="nav-text"><i class="fas fa-bars"></i></div>
  <div class="nav-item hide-s">
    <img src="./assests/SitePaletteIcon.png" id="site-logo" />
  </div>
  <div class="nav-item nav-text hide-m">
    <h6>Deliver to tushar</h6>
    <h4><i class="fas fa-map-marker-alt"></i>India</h4>
  </div>
  <div class="nav-item nav-search">
    <select name="select" id="category-select">
      <option value="val1">All categories</option>
      <option value="val2">Electronics</option>
      <option value="val3">Deals</option>
      <option value="val4">Baby Products</option>
      <option value="val5">Computer and Accessories</option>
      <option value="val6">Home and Kitchen</option>
      <option value="val7">Grocery and Gourment Foods</option>
      <option value="val8">Toys and Games</option>
      <option value="val9">Sports, Fitness and Outdoors</option>
    </select>
    <input type="text" placeholder="Search for a product" id="search-input" />
    <div class="nav-text sc-card2" id="search-btn">
      <i class="fas fa-search"></i>
    </div>
  </div>
  <div class="nav-item nav-text hide-s">
    <h6>Hello, Tushar</h6>
    <h4>Account & Lists</h4>
  </div>
  <div class="nav-item nav-text hide-s">
    <h6>Returns</h6>
    <h4>& Orders</h4>
  </div>
  <div class="nav-item nav-text hide-s">
    <h4><i class="fas fa-shopping-cart"></i> Cart</h4>
  </div>
</nav>

<div class="sc-body">
  <div class="carousel">
    <div id="carousel-left" class="carousel-control">
      <i class="fas fa-chevron-left"></i>
    </div>
    <img
      src="/assests/templates/images/pexels-alex-andrews-821651.jpg"
      class="show"
      alt=""
    />
    <img
      src="/assests/templates/images/pexels-gabriel-freytez-341523.jpg"
      class=""
      alt=""
    />
    <img
      src="/assests/templates/images/pexels-pixabay-279906.jpg"
      class=""
      alt=""
    />
    <img
      src="/assests/templates/images/pexels-karolina-grabowska-4202329.jpg"
      class=""
      alt=""
    />
    <img
      src="/assests/templates/images/pexels-tim-douglas-6210862.jpg"
      class=""
      alt=""
    />
    <div id="carousel-right" class="carousel-control">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div class="row">
    <div class="card sc-card2">
      <p>Hi! Tushar</p>
      <div class="products-view">
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
        <img src="https://picsum.photos/200" alt="" />
      </div>
    </div>

    <div class="card sc-card2">
      <p>SuperCategory 2</p>
      <div class="products-view">
        <img src="https://picsum.photos/201" alt="" />
        <img src="https://picsum.photos/201" alt="" />
        <img src="https://picsum.photos/201" alt="" />
        <img src="https://picsum.photos/201" alt="" />
      </div>
      <a href="#">See more</a>
    </div>

    <div class="card sc-card2 hide-s">
      <p>Some Category 3</p>
      <div class="products-view">
        <img src="https://picsum.photos/199" alt="" />
        <img src="https://picsum.photos/199" alt="" />
        <img src="https://picsum.photos/199" alt="" />
        <img src="https://picsum.photos/199" alt="" />
      </div>
      <a href="#">See more</a>
    </div>
    <div class="card sc-card2 hide-m">
      <p>Gift Cards and vouchers <a href="#">Find Out</a></p>
    </div>
    <div class="card-big sc-card2">
      <img src="https://picsum.photos/600/370" alt="" />
    </div>
    <div class="card sc-card2 hide-s">
      <p>Essentials</p>
      <div class="products-view">
        <img src="https://picsum.photos/202" alt="" />
        <img src="https://picsum.photos/202" alt="" />
        <img src="https://picsum.photos/202" alt="" />
        <img src="https://picsum.photos/202" alt="" />
      </div>
      <a href="#">See more</a>
    </div>

    <div class="card sc-card2">
      <p>Trending and Limited</p>
      <div class="products-view">
        <img src="https://picsum.photos/198" alt="" />
        <img src="https://picsum.photos/198" alt="" />
        <img src="https://picsum.photos/198" alt="" />
        <img src="https://picsum.photos/198" alt="" />
      </div>
      <a href="#">See more</a>
    </div>
  </div>
  <div class="product-view-slider-parent sc-card2">
    <h3 class="product-view-slider-h3">
      Inspired by your current browsing history
    </h3>
    <div id="product-view-slider1" class="product-view-slider">
      <div
        id="product-view-slider1-left"
        class="product-view-slider1-control product-view-slider-control"
      >
        <i class="fas fa-chevron-left"></i>
      </div>
      <div
        id="product-view-slider1-right"
        class="product-view-slider1-control product-view-slider-control"
      >
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="item-card hide-s">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Product 1</h5>
        <h6>Ends in 2 day/s</h6>
        <p>&#x20B9;455- &#x20B9;670</p>
      </div>

      <div class="item-card hide-s">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Essential product 1</h5>
        <h6>Ends in 3 day/s</h6>
        <p>&#x20B9;6785 - &#x20B9;7000</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Random Product 1</h5>
        <h6>Ends in 23 hours</h6>
        <p>&#x20B9;1300 - &#x20B9;1600</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Beauty Product 2</h5>
        <h6>Ends in 3 hours</h6>
        <p>&#x20B9;6780 - &#x20B9;7000</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Great Product</h5>
        <h6>Ends in 5 day/s</h6>
        <p>&#x20B9;560 - &#x20B9;1200</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Cheap Spinnoff Product</h5>
        <h6>Ends in 3 day/s</h6>
        <p>&#x20B9;1200 - &#x20B9;1500</p>
      </div>

      <div class="item-card hide-s">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Cheap Clothing</h5>
        <h6>Ends in 3 day/s</h6>
        <p>&#x20B9;800 - &#x20B9; 1400</p>
      </div>

      <div class="item-card hide-s">
        <img src="https://picsum.photos/250" alt="" />
        <h5>Nice Photography Gear</h5>
        <h6>Ends in 1 day/s</h6>
        <p>&#x20B9;5050 - &#x20B9;8010</p>
      </div>
    </div>
  </div>
  <div class="product-view-slider-parent sc-card2">
    <h3 class="product-view-slider-h3">Things you may like</h3>
    <div id="product-view-slider2" class="product-view-slider">
      <div
        id="product-view-slider2-left"
        class="product-view-slider2-control product-view-slider-control"
      >
        <i class="fas fa-chevron-left"></i>
      </div>
      <div
        id="product-view-slider2-right"
        class="product-view-slider2-control product-view-slider-control"
      >
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>A Nice Product</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
        </h6>
        <p>&#x20B9;4556</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>A Great Product</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i>
        </h6>
        <p>&#x20B9;2300</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>A Nice Product</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star-half-alt"></i>
        </h6>
        <p>&#x20B9;14000</p>
      </div>
      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>A Bad Product</h5>
        <h6>
          <i class="fas fa-star-half-alt"></i>
        </h6>
        <p>&#x20B9;7890</p>
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>Best Product</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i>
        </h6>
        <p>&#x20B9;5999</p>
      </div>
      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>Out of World Porduct</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i>
          <i class="fas fa-star"></i><i class="fas fa-star"></i>
        </h6>
        <p>&#x20B9;156000</p>
      </div>
      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>Out Of worlds Product</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
        </h6>
        <p>&#x20B9;3455</p>
      </div>
      <div class="item-card">
        <img src="https://picsum.photos/251" alt="" />
        <h5>Last Product</h5>
        <h6>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star-half-alt"></i>
        </h6>
        <p>&#x20B9;7999</p>
      </div>
    </div>
  </div>
  <div id="no-card" class="product-view-slider-parent sc-card2">
    <h3 class="product-view-slider-h3">Buy in other parts of Store</h3>
    <div id="product-view-slider3" class="product-view-slider">
      <div
        id="product-view-slider3-left"
        class="product-view-slider3-control product-view-slider-control"
      >
        <i class="fas fa-chevron-left"></i>
      </div>
      <div
        id="product-view-slider3-right"
        class="product-view-slider3-control product-view-slider-control"
      >
        <i class="fas fa-chevron-right"></i>
      </div>
      <div class="item-card hide-s">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card hide-s">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card hide-s">
        <img src="https://picsum.photos/249" alt="" />
      </div>

      <div class="item-card hide-s">
        <img src="https://picsum.photos/249" alt="" />
      </div>
    </div>
  </div>
  <button id="back-to-top">Back to top</button>

  <!-- 
<div class="item-card">
  <img src="https://picsum.photos/250" alt="" />
  <h5>This is A noice product</h5>
  <h6>Ends in 1 day/s</h6>
  <p>123 - 4556</p>
</div> -->
</div>
<div class="sc-body2 footer">
  <div>
    <h5>Get to Know Us</h5>
    <ul>
      <li>About Us</li>
      <li>Careers</li>
      <li>Press Releases</li>
      <li>Amazon Cares</li>
      <li>Gift a Smile</li>
    </ul>
  </div>
  <div>
    <h5>Connect with Us</h5>
    <ul>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>Instagram</li>
    </ul>
  </div>
  <div>
    <h5>Make Money with Us</h5>
    <ul>
      <li>Sell on Amazon</li>
      <li>Sell under Amazon Accelerator</li>
      <li>Amazon Global Selling</li>
      <li>Become an Affiliate</li>
      <li>Fulfilment by Amazon</li>
      <li>Advertise Your Products</li>
      <li>Amazon Pay on Merchants</li>
      <li>See More Make Money with Us</li>
    </ul>
  </div>
  <div>
    <h5>Let Us Help You</h5>
    <ul>
      <li>COVID-19 and Amazon</li>
      <li>Your Account</li>
      <li>Returns Centre</li>
      <li>100% Purchase Protection</li>
      <li>Amazon App Download</li>
      <li>Amazon Assistant Download</li>
      <li>Help</li>
    </ul>
  </div>
</div>
