div.container {
  overflow-y: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
.child {
  padding: 70px 50px 50px 40px;
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar h1 {
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}
.navbar h5 {
  display: inline-block;
  margin: 20px 20px;
}
.child h4 {
  font-size: 48px;
  margin: 20px auto;
}
.child p {
  font-size: 20px;
  line-height: 2;
}
#scroll-for-more {
  position: relative;
  bottom: 10px;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
  font-size: 20px;
  margin-top: -20px;
}
#scroll-for-more-icon {
  animation: JumpArrow 2s linear 0s infinite;
}
.inner-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text-section {
  max-width: 40%;
  padding: 20px;
}
img.svg {
  width: 100%;
  flex-shrink: 1;
  align-self: center;
}
img.guide-icons {
  transform: translateY(30%);
}
body,
html {
  height: 100vh;
  overflow: hidden;
}

@keyframes JumpArrow {
  0%,
  10%,
  80%,
  100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-10px);
  }
  30%,
  50%,
  70% {
    transform: translateY(5px);
  }
  40%,
  60% {
    transform: translateY(15px);
  }
}

@media (max-width: 942px) {
  .child {
    padding: 3rem 10px;
  }
  .child p {
    line-height: 1.5;
  }
}
@media (max-width: 610px) {
  .navbar {
    display: none;
  }
  .child {
    padding: 10px 5px;
  }
  .inner-section {
    flex-direction: column;
    justify-content: center;
  }
  .text-section {
    max-width: 100%;
  }
  .text-section > h4 {
    margin: 0px;
    text-align: center;
    font-size: 30px;
  }
  .child p {
    display: none;
  }
  #scroll-for-more {
    font-size: 10px;
    bottom: 20px;
  }
}
