.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 20px;
}
.container h6 {
  margin-bottom: 0px;
}
.card-holder {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-holder button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: 0px;
  margin: 10px;
}
.card {
  width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}
