.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
#site-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}
.nav-search {
  flex-grow: 2;
  display: flex;
}
#category-select {
  width: 150px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding: 5px 10px;
}
#search-input {
  flex-grow: 2;
  margin: 0px;
  padding: 10px;
  border: 2px;
}
#search-btn {
  margin: 0px;
  padding: 0px 20px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 10px;
  margin: 0px 10px;
}
.nav-text > h6 {
  padding: 0px;
  margin: 0px;
  font-weight: 100;
  font-size: 14px;
}
.nav-text > h4 {
  padding: 0px;
  margin: 0px;
  font-size: 18px;
}
.carousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 300px;
}
.carousel > div {
  padding: 140px 20px;
  align-items: center;
  z-index: 2;
  position: absolute;
}
#carousel-right {
  right: 0px;
}
.carousel > img {
  width: 0px;
  transition: width 0.1s linear;
  height: auto;
}
.carousel > img.show {
  width: 100%;
  object-fit: cover;
  transition: width 0.1s linear;
}
.carousel > div:hover {
  background-color: rgba(26, 25, 25, 0.274);
}
.row {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.products-view {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
}
.row > .card {
  width: 300px;
  padding: 20px 15px;
  margin: 20px;
  flex-grow: 1;
  height: auto;
  border-radius: 10px;
}

.row > .card-big {
  width: 40%;
  height: 300px;
  flex-grow: 2;
  margin: 20px;
}
.card-big > img {
  width: 100%;
  height: 100%;
}
.products-view img {
  width: 110px;
  margin: 10px;
  border-radius: 10px;
}

.product-view-slider {
  margin: 20px;
  height: 400px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  justify-content: space-between;
  border-radius: 10px;
  scrollbar-width: thin;
}
.product-view-slider::-webkit-scrollbar {
  height: 5px;
}
.product-view-slider::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#product-view-slider1::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.product-view-slider-control {
  margin: 120px 20px;
  padding: 60px 20px;
  align-items: center;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.46);
  border-radius: 10px;
  position: absolute;
}
.product-view-slider-control:hover {
  background-color: rgba(128, 128, 128, 0.76);
}
#product-view-slider1-right,
#product-view-slider2-right {
  right: 20px;
}
.item-card {
  width: 300px;
  height: 400px;
  padding: 50px 20px 20px 20px;
}
.item-card > h5,
h6,
p {
  margin: 5px;
}
@media (max-width: 1060px) {
  .hide-m {
    display: none;
  }
  .nav-text > h6 {
    font-weight: 100;
    font-size: 12px;
  }
  .nav-text > h4 {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 852px) {
  #category-select {
    display: none;
  }
  #search-input {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
}
